.pyramid-container {
	display: inline-block;
	margin: 0 auto;

	width: calc(100%);
	height: calc(100vh - 50px);
	overflow-y: overlay;

	vertical-align: top;
	text-align: center;
}

.pyramid-name {
	margin: 0;

	height: 55px;

	font-size: 3rem;
	font-weight: 700;
	vertical-align: middle;
}

.pyramid-name input {
	margin: 0;
	padding: 8px 12px;
	border: 3px solid var(--grey2);
	border-radius: 8px;

	width: 400px;

	font-size: 1.5rem;
	background: var(--grey2);
	color: #fff;
	vertical-align: top;
	transition: 0.2s;
	outline: none;
}

.pyramid-name input:focus {
	border-color: var(--blue);
}

.pyramid-begin-label {
	margin: 20px auto;

	width: calc(100% - 80px);

	color: #ddd;
}

.pyramid {
	margin-top: 40px;
	height: calc(100vh - 50px - 55px - 40px);
	overflow-y: hidden;
	--tier-width: 160px;
	--tier-height: 100px;
}

.pyramid-tier {
	display: block;
	position: relative;

	margin: 0 auto;
	margin-bottom: 4px;
	--tier-vertical-margin: 4px;

	width: 100%;
	height: var(--tier-height);
}

.pyramid-tier-background {
	display: block;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

	border-bottom: var(--tier-height) solid var(--blue);
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
}

.pyramid-tier-hover-background {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;

	border-bottom: var(--tier-height) solid var(--red);
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
}

.pyramid-tier:nth-child(1) .pyramid-tier-hover-background {
	width: 0px;
}

.pyramid-tier:nth-child(2) .pyramid-tier-hover-background {
	width: calc((var(--tier-width) * 1) + calc(var(--tier-vertical-margin) * 1));
}

.pyramid-tier:nth-child(3) .pyramid-tier-hover-background {
	width: calc((var(--tier-width) * 2) + calc(var(--tier-vertical-margin) * 2));
}

.pyramid-tier:nth-child(4) .pyramid-tier-hover-background {
	width: calc((var(--tier-width) * 3) + calc(var(--tier-vertical-margin) * 3));
}

.pyramid-tier:nth-child(5) .pyramid-tier-hover-background {
	width: calc((var(--tier-width) * 4) + calc(var(--tier-vertical-margin) * 4));
}

.pyramid-tier:nth-child(6) .pyramid-tier-hover-background {
	width: calc((var(--tier-width) * 5) + calc(var(--tier-vertical-margin) * 5));
}

.pyramid-tier:nth-child(7) .pyramid-tier-hover-background {
	width: calc((var(--tier-width) * 6) + calc(var(--tier-vertical-margin) * 6));
}

.pyramid-tier-hover-background svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% + 64px));
	z-index: 1;
	font-size: 32px;
}

.pyramid-tier:nth-child(1) .pyramid-tier-background {
	width: 0px;
}

.pyramid-tier:nth-child(2) .pyramid-tier-background {
	width: calc((var(--tier-width) * 1) + calc(var(--tier-vertical-margin) * 1));
	border-bottom: var(--tier-height) solid #0068ff;
}

.pyramid-tier:nth-child(3) .pyramid-tier-background {
	width: calc((var(--tier-width) * 2) + calc(var(--tier-vertical-margin) * 2));
	border-bottom: var(--tier-height) solid #007fff;
}

.pyramid-tier:nth-child(4) .pyramid-tier-background {
	width: calc((var(--tier-width) * 3) + calc(var(--tier-vertical-margin) * 3));
	border-bottom: var(--tier-height) solid #009aff;
}

.pyramid-tier:nth-child(5) .pyramid-tier-background {
	width: calc((var(--tier-width) * 4) + calc(var(--tier-vertical-margin) * 4));
	border-bottom: var(--tier-height) solid #00adff;
}

.pyramid-tier:nth-child(6) .pyramid-tier-background {
	width: calc((var(--tier-width) * 5) + calc(var(--tier-vertical-margin) * 5));
	border-bottom: var(--tier-height) solid #00c0ff;
}

.pyramid-tier:nth-child(7) .pyramid-tier-background {
	width: calc((var(--tier-width) * 6) + calc(var(--tier-vertical-margin) * 6));
	border-bottom: var(--tier-height) solid #00d0ff;
}

.pyramid-tier-add-btn {
	display: inline-block;
	margin: 0 8px;
	margin-top: 32px;

	font-size: 18px;
	vertical-align: middle;
	transition: 0.2s;
	cursor: pointer;
}

.pyramid-tier-add-btn:hover {
	color: var(--blue);
}

.pyramid-tier-add-btn svg {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pyramid-tier-values {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;

	width: 100%;
	height: max-content;
	max-height: 120px;
	overflow-y: overlay;
}

.pyramid-container-editing .pyramid-tier-values {
	transform: translate(calc(-50% + 35px), -50%);
	width: calc(100% - 10px - 70px);
}

.pyramid-tier-values::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--blue);
}

.pyramid-tier-values::-webkit-scrollbar {
	border-radius: 4px;
	width: 5px;
	background: var(--grey2);
	transition: 0.2s;
}

.pyramid-tier-values .drag-drop-container {
	vertical-align: middle;
}

.pyramid-tier-value {
	position: relative;
	display: inline-block;
	flex-grow: 1;
	margin: 12px 24px;
	box-sizing: content-box;

	max-width: 145px;

	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: 0.2s;
}

.pyramid-tier-value:hover {
	margin-top: calc(12px - 5px);
	padding-bottom: 5px;
	color: #fff;
}

.pyramid-tier:nth-child(1) .pyramid-tier-value {
	max-width: 120px;
}

.drag-drop-container .pyramid-tier-value {
	max-width: max-content !important;
}

.pyramid-tier-value-notes-btn {
	position: absolute;
	bottom: -22px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	margin: 0 4px;
	border: 0;
	border-radius: 100%;

	width: 30px;
	height: 30px;

	background: rgba(0, 0, 0, 0);
	color: #fff;
	font-size: 18px;
	vertical-align: middle;
	transition: 0.2s;
	cursor: pointer;
	vertical-align: middle;
}

.pyramid-tier-value-notes-btn:hover {
	display: inline-block;
	background: var(--blue);
	color: #fff;
}

.pyramid-tier-value:hover .pyramid-tier-value-notes-btn {
	display: inline-block;
}

.pyramid-tier-value-notes-btn svg {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pyramid-value-input {
	margin: 4px;
}

.pyramid-value-input input {
	padding: 8px 12px;
	border: 3px solid var(--grey2);
	border-radius: 8px;
	width: 200px;
	background: var(--grey2);
	color: #fff;
	transition: 0.2s;
	outline: none;
}

.pyramid-value-input input:focus {
	border-color: var(--blue);
}

.pyramid-value-input-remove-btn,
.pyramid-value-input-notes-btn {
	display: inline-block;
	margin: 0 4px;
	border: 0;

	background: rgba(0, 0, 0, 0);
	color: #fff;
	font-size: 18px;
	vertical-align: middle;
	transition: 0.2s;
	cursor: pointer;
}

.pyramid-value-input-remove-btn:hover {
	color: #ff0000;
}

.pyramid-value-input-notes-btn:hover {
	color: var(--blue);
}

.pyramid-value-input-remove-btn svg,
.pyramid-value-input-notes-btn svg {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pyramid-tier-value-add-btn {
	display: inline-block;
	margin: 0 8px;
	margin-top: -4px;
	margin-right: calc(8px + 24px);

	font-size: 18px;
	vertical-align: middle;
	transition: 0.2s;
	cursor: pointer;
}

.pyramid-tier-value-add-btn:hover {
	color: var(--blue);
}

.pyramid-tier-value-add-btn svg {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
