.drag-drop-item {
	display: block;
	position: relative;
	-webkit-user-drag: element;
	cursor: grab;
}

.drag-drop-item-prevent-drag {
	-webkit-user-drag: none;
}

.drag-drop-item > * {
	-webkit-user-drag: none;
}

.drag-drop-item-inline {
	display: inline-block;
}

.drag-drop-item-dragging {
	opacity: 0;
}

.drag-drop-item-drag {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0);
}

.drag-drop-item-content {
	position: relative;
	/* width: calc(100% - 32px); */
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 1;
	-webkit-user-drag: none;
}
