:root {
	--blue: #0044ff;
	--red: #ff0000;
	--grey1: #101010;
	--grey2: #1a1a1a;
}

body {
	margin: 0;
	padding: 0;
	border: 0;

	width: 100%;
	height: 100vh;

	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;

	background: var(--grey1);
	color: #fff;
}
