:root {
	--blue: #0044ff;
	--red: #ff0000;
	--grey1: #080808;
	--grey2: #121212;
	--grey3: #242424;
	--grey4: #303030;
	--grey5: #404040;
}

body {
	margin: 0;
	padding: 0;
	border: 0;

	width: 100vw;
	height: 100vh;
	overflow: hidden;

	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;

	background: var(--grey1);
	color: #fff;
}

.content-container {
	position: relative;
	display: inline-block;
	margin: 0 auto;

	width: calc(100% - 70px);
	height: calc(100vh - 40px - 70px);

	vertical-align: top;
	text-align: left;
}
